body {
    font-family: Arial, sans-serif;
    background-color: transparent;
  }

  .form-box_layout_features {
    max-width: 800px;
    position: absolute ;
    top: 60px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_built_features {
    max-width: 800px;
    position: absolute ;
    top: 380px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_exterior_features {
    max-width: 800px;
    position: absolute ;
    top: 550px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_basement_features {
    max-width: 800px;
    position: absolute ;
    top: 760px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_utilities {
    max-width: 800px;
    position: absolute ;
    top: 1010px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_area {
    max-width: 800px;
    position: absolute ;
    top: 1140px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_rooms {
    max-width: 800px;
    position: absolute ;
    top: 1280px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_garage_features {
    max-width: 800px;
    position: absolute ;
    top: 1560px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_additional_features {
    max-width: 800px;
    position: absolute ;
    top: 1770px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_sale_features {
    max-width: 800px;
    position: absolute ;
    top:2030px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_submit {
    max-width: 800px;
    position: absolute ;
    top: 2170px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  h2{
    position: absolute;
    top: 2300px;
  }