body {
    font-family: Arial, sans-serif;
    background-color: transparent;
  }

  .form-box_layout_features {
    max-width: 800px;
    position: absolute ;
    top: 80px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_built_features {
    max-width: 800px;
    position: absolute ;
    top: 420px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_exterior_features {
    max-width: 800px;
    position: absolute ;
    top: 610px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_basement_features {
    max-width: 800px;
    position: absolute ;
    top: 840px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_utilities {
    max-width: 800px;
    position: absolute ;
    top: 1110px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_area {
    max-width: 800px;
    position: absolute ;
    top: 1260px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_rooms {
    max-width: 800px;
    position: absolute ;
    top: 1420px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_garage_features {
    max-width: 800px;
    position: absolute ;
    top: 1620px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_additional_features {
    max-width: 800px;
    position: absolute ;
    top: 1950px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_sale_features {
    max-width: 800px;
    position: absolute ;
    top:2230px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_submit {
    max-width: 800px;
    position: absolute ;
    top: 2390px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  h2{
    position: absolute;
    top: 60px;
  }
  h3{
    position: absolute;
    top: 400px;
  }
  h4{
    position: absolute;
    top: 590px;
  }
  h5{
    position: absolute;
    top: 820px;
  }
  h6{
    position: absolute;
    top: 1090px;
  }
  h7{
    position: absolute;
    top: 1240px;
  }
  h8{
    position: absolute;
    top: 1400px;
  }
  h9{
    position: absolute;
    top: 1600px;
  }
  h10{
    position: absolute;
    top: 1930px;
  }
  h11{
    position: absolute;
    top: 2210px;
  }
  h12{
    position: absolute;
    top: 2370px;
  }