body {
    font-family: Arial, sans-serif;
    background-color: transparent;
  }

  .profile
  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 20px; /* adds 30 pixels of padding around the image */        
  }