body {
    font-family: Arial, sans-serif;
    background-color: transparent;
  }

  .form-box_layout_features {
    max-width: 800px;
    position: absolute ;
    top: 40px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_built_features {
    max-width: 800px;
    position: absolute ;
    top: 280px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_exterior_features {
    max-width: 800px;
    position: absolute ;
    top: 560px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_basement_features {
    max-width: 800px;
    position: absolute ;
    top: 780px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_utilities {
    max-width: 800px;
    position: absolute ;
    top: 1140px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_area {
    max-width: 800px;
    position: absolute ;
    top: 1280px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_rooms {
    max-width: 800px;
    position: absolute ;
    top: 1420px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_garage_features {
    max-width: 800px;
    position: absolute ;
    top: 1700px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_additional_features {
    max-width: 800px;
    position: absolute ;
    top: 1920px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_sale_features {
    max-width: 800px;
    position: absolute ;
    top:2200px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-box_submit {
    max-width: 800px;
    position: absolute ;
    top: 2340px;
    left: 20px;
    background-color: #FFFFE0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }