<html>
    <head>
        <title>House Price Prediction - Ames City</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style_index.css')}}">
    </head>
    <body>
        <h1>House Price Prediction - Ames City</h1>
        <h2>Are you a home buyer in Ames City, who is anxious over the thought that you might be paying more 
            than the house of your choice is worth?
            <br />    
            Are you short on comparative estimates for similar homes?
            <br />
            or are you simply skeptical to believe your sellers words?
            <br />
            <br />
            Worry no more!!! 
            We have it all covered and rest assured, you are at the right place.
            <br />
            <br />
            Our predictor uses more than 80 variables and based on real sales of houses with similar features 
            is able to provide you with a near accurate estimate for your house.
            All you need is to provide or select the features of your house of interest and we will get you the correct estimate
            for your house in matter of seconds.
            <br />
            <br />
            So lets not keep you waiting!! Click on the button below to get your estimate.
        </h2>  
        <div class="text-center">
            <a href="predict_data">
                <button>Predict your house price!!</button>
            </a> 
        </div>                
        <img src="{{url_for('static',filename='house_price_pred.png')}}" alt="Project Profile Picture" class="profile">
        
    </body>


